Usaremos um banco de dados com dados de casas dos Estados Unidos.

In [ ]:
DATA = 'https://raw.githubusercontent.com/tirthajyoti/Machine-Learning-with-Python/master/Datasets/USA_Housing.csv'

### Importe as bibliotecas que achar necessárias

In [ ]:
df = pd.read_csv(DATA)
df.head()

   Avg. Area Income  ...                                            Address
0      79545.458574  ...  208 Michael Ferry Apt. 674\nLaurabury, NE 3701...
1      79248.642455  ...  188 Johnson Views Suite 079\nLake Kathleen, CA...
2      61287.067179  ...  9127 Elizabeth Stravenue\nDanieltown, WI 06482...
3      63345.240046  ...                          USS Barnett\nFPO AP 44820
4      59982.197226  ...                         USNS Raymond\nFPO AE 09386

[5 rows x 7 columns]

### Checando os tipos de dados de cada coluna:

###Checando dados faltantes:

###Agora vamos fazer a mesma análise com os dados de teste

### Utilize a função `pairplot()` para visualizar correlações

### Imputando dados faltosos como `None`

### Identifique as correlações com um mapa de calor

### Separando em X e Y e em treinamento e teste

### Treine um modelo de regressão linear

### Calcule as métricas MAE, MSE e RMSE